---
layout: base
permalink: /index.html
title: 'Gauguin'
description: 'An Android game to solve KenKen grids.'
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>

  <!-- <img src="/assets/images/main-screen.png" alt="alt text" eleventy:widths="200,300"
  loading="eager" decoding="sync"> -->

    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">

      <h2 id="an-eleventy-starter">A Sudoku-like Android game</h2>
      <p>
        Solve mathematical puzzles - small or big, easy or hard, fast or slow, fun or achievement.
      </p>
      <p>
        <strong>Fully Open Source.</strong> Driven with faith in one's spare time.
      </p>

  <custom-masonry layout="50-50">
    <div style="background-color: var(--color-primary);">
        <img src="/assets/images/main-screen.png" alt="alt text" eleventy:widths="200,400"
            loading="eager" decoding="sync">
    </div>
    <div>
        <ul>
            <li>Grid size from 3x3 to 11x11</li>
            <li>5 Difficulty settings</li>
            <li>Light mode, dark mode, dynamic colors</li>
        </ul>
</div>
  </custom-masonry>

      <a href="https://f-droid.org/packages/org.piepmeyer.gauguin/">
        <img src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png"
          alt="Get it on F-Droid"
          eleventy:widths="200,400">
      </a>

      <a href="https://play.google.com/store/apps/details?id=org.piepmeyer.gauguin">
        <img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png"
          alt="Get it on Google Play"
          eleventy:widths="200,400">
      </a>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
